
<p>
    <mat-toolbar color="primary">
      <a  mat-icon-button matTooltip="Home"
      routerLink="/"
      >
        <mat-icon>home</mat-icon>
      </a>
      <span>Exam App</span>
      <span class="example-spacer"></span>
      <a mat-icon-button matTooltip="Register" routerLink="/signup">
        <mat-icon>app_registration</mat-icon>
      </a>
    <a mat-icon-button matTooltip="Login " routerLink="/login"  > 
      <mat-icon>login</mat-icon>
    </a>
    <!-- <button mat-icon-button  >
      <mat-icon>more_vert</mat-icon>
    </button> -->

    </mat-toolbar>
  </p>
