<?xml version = '1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"https://hibernate.sourceforge.net/hibernate-configuration.dtd">

    <!-- <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->

<!-- <!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd"> -->

    <hibernate-configuration>
    <!-- <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg"> -->
        <session-factory>
            <property name = "connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name = "connection.url">jdbc:mysql://localhost:3306/testdb</property>
            <property name = "connection.username">root</property>
            <property name = "connection.password">student</property>
            <property name = "dialect">org.hibernate.dialect.MySQLDialect</property>
            <property name = "hbm2ddl.auto">update</property>
            <property name = "show_sql">true</property>
            <property name="hibernate.format_sql">true</property>
            <!-- treat this class as an entity -->
            <mapping class ="com.tejas.Student"/> 
        </session-factory>
    </hibernate-configuration>
